


<h1><%=@team.name%></h1>
<h1>Team Motto: <%=@team.motto%></h1>
<h1>Hero Name: <%=@member1.name%></h1>
<h1>Hero Power: <%=@member1.power%></h1>
<h1>Hero Biography: <%=@member1.bio%></h1>
<h1>Hero Name: <%=@member2.name%></h1>
<h1>Hero Power: <%=@member2.power%></h1>
<h1>Hero Biography: <%=@member2.bio%></h1>
<h1>Hero Name: <%=@member3.name%></h1>
<h1>Hero Power: <%=@member3.power%></h1>
<h1>Hero Biography: <%=@member3.bio%></h1>
